<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="conexBDConfig" connectionString="Server=192.168.1.118;Database=ItemDS;User Id=sa;Password=Soporte23" />
    <add name="conexBDSociedad" connectionString="Server=192.168.1.118;Database=AUTOVAL_x;User Id=SA;Password=Soporte23" />
    <!--<add name="conexInfoSql" connectionString="Data Source=serverAddress;Initial Catalog=dbname;User ID=username;Password=password"/>-->
    <!--<add name="conexInfoHana" connectionString="DRIVER={HDBODBC};UID=username;PWD=password;SERVERNODE=serverAddress:port;DATABASENAME=dbname"/>-->
  </connectionStrings>
  <appSettings>
    <add key="RecordarDatosAcceso" value="false" />
    <add key="IdSociedad" value="0" />
    <add key="IdGestor" value="0" />
    <add key="CodigoSucursal" value="01" />
    <add key="Usuario" value="" />
    <add key="Password" value="" />
	<add key="nombreSkin" value="Office 2019 Colorful" />
	<add key="nombreSkinVentana" value="McSkin" />
	<add key="NumeroFormularioInicial" value="4" />
    <add key="IdImpresora" value="1" />
    <add key="IdVersionEtiqueta" value="0" />
    <add key="IdMedidaEtiqueta" value="0" />
	<add key="IdFiltroProductos" value="0" />
	<add key="IdFiltroExplorador" value="3" />
	<add key="MostrarColorMensajeExito" value="true" />
    <add key="MostrarColorMensajeError" value="true" />
    <add key="MostrarColorMensajeInformacion" value="false" />
    <add key="MostrarColorMensajeAdvertencia" value="true" />
    <add key="BackColorFocus" value="#FFFF99" />
    <add key="ForeColorFocus" value="#404040" />
    <add key="BackColorGridUbicacion" value="#006699" />
    <add key="ForeColorGridUbicacion" value="#FFFFFF" />    
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup> 
</configuration>